@model VehicleModelDto

<h1>
    Yeni Araç Modeli
</h1>
<div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">

        <form method="post" asp-controller="VehicleModel" asp-action="Create">

            <div class="mb-2">
                <label asp-for="Name">Model Adı</label>
                <input class="form-control" asp-for="Name" />
                @*  @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })*@
            </div>

            <div class="mb-2">
                <label asp-for="VehicleMakeId">Markası</label>
                <select asp-for="VehicleMakeId" class="form-select" asp-items="ViewBag.VehicleMakeSelectList">
                </select>

                @* @Html.DropDownListFor(m => m.VehicleMakeId, (SelectList)ViewBag.VehicleMakeSelectList) *@
                @* @Html.DropDownList("VehicleMakeId", (SelectList)ViewBag.VehicleMakeSelectList) *@

                @* <select asp-for="VehicleMakeId" class="form-select">
                    @foreach (var make in ViewBag.VehicleMakes)
                    {
                        <option value="@make.Id">@make.Name</option>
                    }
                </select> *@
            </div>

            <div class="mb-2 text-end">
                <button class="btn btn-outline-success">
                    Kaydet
                </button>
            </div>

        </form>

    </div>
</div>